MERGE ALL DATAFRAME TO 1 YEAR

In [75]:
import pandas as pd

In [76]:
#import dataset
January = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/January.csv')

In [77]:
#number of rows and columns
January.shape

(131573, 7)

In [78]:
#import dataset
February = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/February.csv')

In [79]:
#number of rows and columns
February.shape

(96834, 7)

In [80]:
#import dataset
March = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/March.csv')

In [81]:
#number of rows and columns
March.shape

(49622, 7)

In [82]:
#import dataset
April = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/April.csv')

In [83]:
#number of rows and columns
April.shape

(214272, 7)

In [84]:
#import dataset
May = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/May.csv')

In [85]:
#number of rows and columns
May.shape

(337230, 7)

In [86]:
#import dataset
June= pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/June.csv')

In [87]:
#number of rows and columns
June.shape

(337230, 7)

In [88]:
#import dataset
July = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/July.csv')

In [89]:
#number of rows and columns
July.shape

(531633, 7)

In [90]:
#import dataset
August = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/August.csv')

In [91]:
#number of rows and columns
August.shape

(729595, 6)

In [92]:
#import dataset
September = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/September.csv')

In [93]:
#number of rows and columns
September.shape

(822410, 7)

In [94]:
#import dataset
October = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/October.csv')

In [95]:
#number of rows and columns
October.shape

(804352, 7)

In [96]:
#import dataset
November = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/November.csv')

In [97]:
#number of rows and columns
November.shape

(519380, 7)

In [98]:
#import dataset
December = pd.read_csv('C:/Users/LILIAN/Desktop/Exported Datasets from R/2021_Data/December.csv')

In [107]:
#number of rows and columns
December.shape

(631226, 7)

In [68]:
#MERGE DATAFRAME OF ALL MONTHS INTO AS ONE YEAR
Year_2021 = [January,February,March,April,May,June,July,August,September,October,November,December]

In [69]:
Months_in_2021 = pd.concat(Year_2021, keys=['January','February','March','April','May','June','July','August','September','October','November','December'])

In [70]:
Months_in_2021

                 Unnamed: 0           Ride_ID  Rideable_Type  Time_Diff  \
January  0                1  70B6A9A437D4C30D   classic_bike        660
         1                2  158A465D4E74C54A  electric_bike        420
         2                3  5262016E0F1F2F9A  electric_bike        420
         3                4  BE119628E44F871E  electric_bike        360
         4                5  69AF78D57854E110  electric_bike        120
...                     ...               ...            ...        ...
December 631221      631222  BA077FDD42DABF12   classic_bike       1320
         631222      631223  B7D99254E798AA6B   classic_bike       1380
         631223      631224  BCCFD66DA466400F  electric_bike        300
         631224      631225  623E0F6F50CDD6E4   classic_bike        360
         631225      631226  83FA6AC52B7B7A7B   classic_bike       1560

                      Lat  Ride_Lng  Status
January  0      -0.010990 -0.010340  member
         1       0.020000  0.000000  member
         2      -0.020000  0.010000  member
         3       0.010000  0.000000  member
         4       0.000000  0.000000  member
...                   ...       ...     ...
December 631221  0.032688 -0.011941  casual
         631222  0.028219  0.011684  casual
         631223 -0.009954  0.004414  member
         631224 -0.009875  0.004573  member
         631225  0.043210 -0.003951  member

[5205357 rows x 7 columns]

In [71]:
Months_in_2021.shape

(5205357, 7)

In [72]:
Months_in_2021.head(3)

           Unnamed: 0           Ride_ID  Rideable_Type  Time_Diff      Lat  \
January 0           1  70B6A9A437D4C30D   classic_bike        660 -0.01099
        1           2  158A465D4E74C54A  electric_bike        420  0.02000
        2           3  5262016E0F1F2F9A  electric_bike        420 -0.02000

           Ride_Lng  Status
January 0  -0.01034  member
        1   0.00000  member
        2   0.01000  member

In [74]:
#EXPORT THE DATASET
Months_in_2021.to_csv(r'C:/Users/LILIAN/Desktop/Exported Datasets from R/Months_in_2021.csv')